[ca]
default_ca = CA_default          # default ca section

[CA_default]
dir           = ./demoCA
certs         = $dir/certs
database      = $dir/index.txt   # CA database index file
new_certs_dir = $dir/newcerts    # default place for new certs

serial        = $dir/serial            # current serial number
certificate   = $dir/cacert.pem        # CA certificate
crlnumber     = $dir/crlnumber         # current crl number
private_key   = $dir/private/cakey.pem # CA private key

default_md       = default        # digest method
default_days     = 30             # how long to certify for
default_crl_days = 30             # how long before next CRL

policy        = policy_ca

[policy_ca]
countryName            = match
stateOrProvinceName    = optional
organizationName       = match
organizationalUnitName = supplied
commonName             = supplied
emailAddress           = supplied

[policy_cert]
countryName            = match
stateOrProvinceName    = optional
organizationName       = match
organizationalUnitName = supplied
commonName             = supplied
emailAddress           = supplied

[req]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions=v3_req
x509_extensions = v3_ca_cert

[req_distinguished_name]
countryName         = Country Name (2 letter code)
countryName_default = CN
countryName_min     = 2
countryName_max     = 2

0.organizationName         = Organization Name (eg, company)
0.organizationName_default = PlatenoGroup

organizationalUnitName         =  Organizational Unit Name (eg, section)
organizationalUnitName_default = EnterpriseIT

commonName     = Common Name (e.g. server FQDN or YOUR name)
commonName_max = 64

emailAddress     = Email Address
emailAddress_max = 64


[v3_ca_cert]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints       = critical,CA:true
keyUsage               = cRLSign, keyCertSign
nsCertType             = sslCA, emailCA

[vpn_server_cert]
basicConstraints       = CA:FALSE
nsCertType             = server
keyUsage               = keyAgreement, digitalSignature
extendedKeyUsage       = serverAuth
nsComment              = "Certificate Generated by Demo CA"
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer

[vpn_cert]
basicConstraints       = CA:FALSE
nsCertType             = client, email
keyUsage               = keyAgreement, digitalSignature
extendedKeyUsage       = clientAuth, emailProtection
nsComment              = "Certificate Generated by Demo CA"
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer

[www_cert]
basicConstraints       = CA:FALSE
nsCertType             = server
extendedKeyUsage       = serverAuth, emailProtection
nsComment              = "Certificate Generated by Demo CA"
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
subjectAltName = @alt_names

[v3_req]
basicConstraints = CA:TRUE
#subjectAltName = @alt_names
subjectAltName = IP:10.100.14.41

[alt_names]
IP.1 = 10.100.14.41
IP.2 = 10.100.14.242

[crl_ext]
authorityKeyIdentifier = keyid:always,issuer:always
